{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Service</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    
    <style>
.ml10 {
  position: relative;
  font-weight: 900;
  font-size: 30px;
  
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  transform-origin: 0 0;
  
}
.py-24 {
    padding-top: 0rem;
    padding-bottom: 1rem;
}
    </style>
</head>
<body>
    <!--Header-nav-->
<header class="text-gray-700 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
       <img src="{% static "media/itsvg.png" %}" height="50" width="50">
      
      <span class="ml-3 text-xl"> <strong>IT SERVICE</strong></span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a href="/" class="mr-5 hover:text-black-900"><b>HOME</b></a>
      <a href="#" class="mr-5 hover:text-black-900"><b>WEB DESIGNING</b></a>
      <a href="#" class="mr-5 hover:text-black-900"><b>PRISING</b></a>
      <a href="#" class="mr-5 hover:text-black-900"><b>ABOUT US</b></a>
      <a href="#" class="mr-5 hover:text-black-900"><b>CONTACT US</b></a>
    </nav>
  </div>
</header>
  <!--End Header-nav-->
    <!--Header-->
    <section class="text-gray-700 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-12">
    <h1 class="ml10">
      <span class="text-wrapper">
       <span class="letters">Welcome To IT-SERVICE</span>
      </span>
    </h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script> 
    </div>
  </div>
</section>
  <!--Header end-->
   <script>

var textWrapper = document.querySelector('.ml10 .letters');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.ml10 .letter',
    rotateY: [-90, 0],
    duration: 1300,
    delay: (el, i) => 45 * i
  }).add({
    targets: '.ml10',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });

 </script>

  {% block content %}
  {% endblock content %}

        <footer class="py-3 bg-grey">
            <p class="m-0 text-dark text-center ">Copyright &copy; IT-Service</p>
        </footer>
    </body>
</html>